@import './partials';
.dropdown {
    width: 90% !important;
    @extend .flex-item;
    
    //display:flex;
    flex-direction: column;
    
}

 .new-option::placeholder {
     color: white;
 }

.new-option::placeholder:active {
     color: red;
 }

.dropdown-list-item {
    //text-align: center;
    color: white;
    margin-bottom: 3px;
    font-family: "Barlow Condensed";
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(250, 250, 250, 0.3);
   // opacity: 0.1;
}

.dropdown-list-item:hover {
    //@extend a:hover;
    color: $someRed;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

@media screen and (max-width: 768px) {
    .dropdown {
        //height: 100%;
        //padding: 0 0 2vmax 0;
    }
    
    .dropdown-list-item {
        font-size: 3vmax;
    }
}