@import './partials';
.home-view {
    @extend .flex-centered-column;
    flex-grow: 2;
     //height: 80%;
         margin-top: 7vmin;
    height: 93%;
    font-size:  $font-size-header;
     justify-content: center !important;
     align-content: center !important;
     //justify-content: space-around;
     align-items: center !important;
    //  display: flex;
    //  flex-direction: column;
     //border: 1px solid;
}


    // .l-3 span {
    //  display: inline-block;
    // }
  .nav-menu-btn {
   display: none;
  }



.l-1 {
 font-family: 'Lobster', cursive;
 flex-basis: 30%;
 font-size: 1em;
}

.l-2 {
   font-family: 'Lobster', sans-serif; 
   display: flex;
   flex-basis: 30%;
   width: 100%;
   text-align: center;
   justify-content: space-around;
   //color: $someRed; 
   font-size: .7em;
}

.l-3 {
   font-family: 'Lobster', sans-serif;
   display: flex;
   flex-basis: 30%;
   //color: $someRed;
  // background: rgba(300,300,300, 0.1); 
  // border-radius: 20px;
   font-size: .8em !important;
}
 
 .red-word {
    color: $someRed; 
 }
 
 .red-word:link, .red-word:visited {
   color: $someRed;
 }
 
 .btn-new {
   background: rgba(300,300,300, 0.1); 
   border: 3px dashed white;
   margin-left: 20px;
   //border-radius: 20px;
 }
 
 .l-2-el {
  white-space: normal;
  font-family: 'Raleway', sans-serif; 
  //border: 1px solid;
  width: 33.3%;
  text-align: center;
  //justify-self: center;
   //  flex-grow: 2;
 }
 
 .l-2-center-txt {
  font-family: 'Lobster', sans-serif; 
  font-size: 6vmin;
  animation: light 8s linear infinite;
  //animation: halo 8s linear infinite;
 }
 
 @keyframes light {
 0% {
    color: #ff5960;
}

33.3% {
   color: #6aff59
}
66.6% {
    color: #599aff;
}
100% {
    color: #ff5960;
}
 }
 
.arrow-left {
 display: flex;
 justify-content: center;
 align-items: center;
} 

.header {
  font-family: 'Lobster', cursive;
 font-size: $font-size-header;
 //flex-basis: 10%;
}

@media screen and (max-width: 850px) {
    .arrow-left {
     display: none;
    }
    
    
    .home-view {
     //background-color: red;
     display: flex;
     flex-grow: 1;
     justify-content: center !important;
     align-content: center !important;
     //justify-content: space-around;
     align-items: center !important;
     
     //align-content: flex-start;
     width: 100%;
     //flex-direction: row;
     height: 90%;
     text-align: center;
      
    }
    
    .l-2-el {
     flex-grow: 1;
     font-size: 7vmax !important;
         //font-size: 10px;
    }
    
    .l-2-center-text {
     
    }
    
    .l-1 {
     font-size: 9vmax !important;
    }
    
    .l-3 {
       display: block;
       white-space: pre-line;
       text-align: center;
      // justify-content: space-between;
      // width: 40%;
    }
    
    .red-word {
     //white-space: no-wrap;
    }
    
     .l-3, .l-2 {
        font-size: 6vmax !important;
       // white-space: pre-line;
       // display: block;
      }
   

span { display: block; }
    
   .l-1, .l-2, .l-3 {
     //border: 1px solid;
     flex-basis: 33.3%;
     //flex-grow: 1;
     //background-color: yellow;
     //white-space: pre-wrap;
      vertical-align: middle;
     display: flex;
     //position: relative;
     //top: 50%;
     align-items: center;
     //justify-content: center;
    // padding: 0px;
    // margin: 0px;
     //width: 100%;
    }
    
    .btn-new {
       margin-left: 20px;
    }
    
}
