//@import url("https://use.fontawesome.com/f42c242128.js");
@import './HomeView';
@import './PollAddView';
@import './partials';
@import './PollsList.scss';
@import './PollView.scss';
@import './OptionsList.scss';
@import './UserPollsView.scss';
@import './ToolBar.scss';
@import './AboutView.scss';
//@import './PollAddView.scss';

.app {
        background-color: rgba(0, 0, 0, 0.63);
}

.app-content {
   // border: 1px solid;
}

.flex-item {
    word-break: break-word;
    display: flex;
    width: 100%;
    height: 100%;
    //position: relative;
    justify-content: center;
    align-items: center;
   // border: 1px solid red;
}

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    //min-width: 1140px; /* this is the important part*/
}

body {
  //position: absolute;
background-repeat: no-repeat;
   
    color: white;
    background-image: url(https://images.pexels.com/photos/17662/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
    background-size: cover;
}

.polls-list-header {
        border: 5px dotted #ff5960;
    font-family: "Lobster";
    text-align: center;
    font-size: 5vmin;
    margin-bottom: 5px;
}

.flex-centered-column {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.polls-list-container {
  height: 85%;
  flex-basis: 30%;
}

.flex-row {
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 align-items: center;
}

.app {
   width: 100%;
   height: 100%;
   position: fixed;
display: flex;
  justify-content: center;
  align-content: center;
// align-items: flex-start;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   overflow: auto;
  //border: 5px solid green;
}

.parallax {
    /* The image used */
    background-image: url('https://i.imgur.com/hn2Ukum.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.views-container {
    flex-basis: 70%;
    max-width: 100vmax;
    
   
}

.loader-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    height: 100%;
    z-index: 2;
    width: 250vmax;
    //transition: 1s background-color;
     animation: load .3s linear;
}

@keyframes load {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.65);
    }
}

// @-webkit-keyframes spin {
//   0% { -webkit-transform: rotate(0deg); }
//   100% { -webkit-transform: rotate(360deg); }
// }


.loader {
   border: 8px solid rgba(119, 119, 119, 0.45);
    //position: absolute;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 11vmin;
    height: 11vmin;
    animation: spin 0.65s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-msg {
    //position: ;
     width: 100%;
     height: auto;
        opacity: 0.3 !important;
        background-color: yellow;
   // top: 50%;
    //bottom: 50%;
    //z-index: 2;
}

.error-modal {
    position: fixed;
    background-color: red;
    opacity: 0.3;
    width: 50%;
    height: 50%;
    //top: 50%;
    //bottom: 50%;
    }

.logo {
 font-family: 'Barlow Condensed', sans-serif;
     margin-left: 1vmin;
    font-size: 3vmin;
 font-weight: 600;
}


.main-content {
   display: flex;
   //top: 0px;
   //position: fixed;
   z-index: -1;
   width: 100%;
   max-width: 153vmin;
    height: 100%;
    justify-content: space-evenly;
   height: 100%;
   //border: 10px solid;
  // background-color: green;
   //justify-content: center;
   align-items: center;
}

.nav {
    //padding-left: 5px;
    display: flex;
    //position: fixed;
    //overflow: hidden;
    justify-content: space-between;
    align-items: center;
   // margin-top: 5px;
    width: 260px;
    font-size: 24px;
    //border: 1px solid;
}

@media screen and (max-width: 850px) {
    
    body {
     background-image: url(https://images.pexels.com/photos/298723/pexels-photo-298723.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    }
    .loader-container {
        position: fixed;
        background-color: transparent;
   height: auto;
    top: 1.7vh;
    right: 2vh;
    width: auto;
    animation: none;
    }
    
    .loader {
   
   border: 3px solid rgba(119, 119, 119, 0.45);
    border-top: 3px solid #ffffff;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    animation: spin 0.65s linear infinite;
}

@media screen and (orientation:landscape) {
    
    .loader {
        width: 6vh;
    height: 6vh;
    }
    
    .loader-container {
        top: .5vh;
    }
    
}

.views-container {
    flex-basis: 100%;
  //  max-width: 100vmax;
}

    .logo {
    margin-left: 0;
    white-space: nowrap;
       text-align: center;
       font-size: 4vmax !important;
    }
    
    .logo:hover, .hoverable:hover, a:hover {
    color: white !important;
     -webkit-transform: none;
 //transform: rotateY(10deg);
}
    
    .nav {
      //  @extend .my-scroll;
        display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    max-height: 100vh;
   //overflow-y: scroll;
        position: fixed;
        //font-size: 5vmin;
            top: 10vh;
            justify-content: flex-start;
        width: 100%;
        text-align: center;
    }
    
    .nav-visible {
        display: flex !important;
    }
    
    .nav-item {
        padding-bottom: 3vmax;
        font-size: 3.2vmax !important;
    }
    
    .inline {
        //text-align: center;
        justify-content: center;
    }
    
    .polls-list-container, .nav {
     display: none;
    }
    
    .polls-list-container {
     //display: none;
     //width: 0%;
    // height: 0%;
     transition: 0.5s;
     top: 106vmax !important;
     width: 100%;
     display: flex !important;
     justify-content: flex-end;
     align-items: center;
     flex-direction: column;
     position: fixed;
      background-color: rgba(0, 0, 0, 0.7); /* Black*/
    //overflow-x: none;
    position: fixed;
     z-index: 2;
    }
    
         .polls-list-container-visible {
     top: 7vh !important;
     top: 0%;
     height: 100%;
    
    }
    
    .polls-list-header {
            width: 100%;
            font-size: 4vmax;
    }
    
    // .scroll-disabled::-webkit-scrollbar { 
    //     width: 0px !important;
    // }
    
    .polls-list {
        overflow-y: scroll;
            margin-bottom: 7vmax;
    // border: 2px solid red;
     //position: fixed;
     
       margin-left: none;
    // margin-right: auto;
    //display: flex;
     //top: 5%;
    max-width: none;
     height: 100%;
       width: 100%;
    }
    
    .toolbar {
     justify-content: center;
     display: flex;
     z-index: 3;
     font-size: 33px;
     height: 7%;
     width: 100%;
     background-color: rgba(0,0,0, 0.4);
    }
    
    // .body {
    //          background-attachment:  fixed;
    //            background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 100%;
    // }
    .app {
        //justify-content: space-around;    
    }
    .main-content {
     //flex-direction: column;
     //flex-grow: 2;
     display: flex;
         width: 100%;
    max-width: none !important;
    overflow-y: scroll;
     position: absolute;
  
     //border: 10px solid;
     width: 100%;
     height: 100%;
    }
    
    
    .poll-list-btn {
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        bottom: 3vmin;
        right: 3vmin;
        position: fixed;
        border-radius: 50%;
        width: 7vmax;
        height: 7vmax;
        background-color: $someRed;
        //background-image: url('../icons/poll-list.svg');
        //background-position: center;
        //background-repeat: no-repeat;
        //top: auto;
        transition: 0.5s;
        opacity: 1;
        
        //border: 1px solid black;
       
        //animation-delay: 3s;
    }
    
    .poll-list-btn-animated {
      animation: halo 3s ease infinite;
    }
     .poll-list-btn-active {
         opacity: 0;
         bottom: -10%;
     }
     
     @keyframes halo {
       0% {
    box-shadow: 0px 0px 0px 0px white;
  }
   10% {
   box-shadow: 0px 0px 0px 0px white;
  }
  50% {
    box-shadow: 0px 0px 1px 1.5vmax transparent;
  }
     }
    
    .btn-image {
         //top: 1vmin;
        //right: 1vmin;
        //border: 1px solid;
        width: 70%;
        height: 70%;
       
        //position: fixed;
        //top: 20px;
        opacity: 1;
        //background-color: white;
         background-image: url('../icons/poll-list.svg');
         background-position: center;
         background-size: contain;
         background-repeat: no-repeat;
    }
    
      .nav-menu-btn {
     display: block;
     left: 3.5%;
     //top: 2.3vh;
     position: fixed;
     background-color: white;
     z-index: 2;
     background: url('../icons/fb.svg');
     background-size: 100% 100%;
     width: 3vmax;
     height: 3vmax;
     transition: 0.5s;
        
      }
        
     
     .cross {
        background-image: url('../icons/cross.svg');
       // background-repeat: no-repeat;
     }
    
    
    .side-menu {
    height: 100%; /* 100% Full-height */
    width: 0%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

 .side-menu-opened {
    width: 100%;
}
    
    .nav-menu-btn-moved {
     transform: rotate(360deg);
     background-image: url('../icons/cross.svg');
     //position: absolute;
     z-index: 2;
     //opacity: .99;
     //top: 20px;
     //left: 92.5%;
     //right: 3.5%;   
    }
    
}

.visible {
    display: block;
}

.logo:hover, .hoverable:hover, a:hover {
 color: $someRed !important;
 transition: 0.1s color;
 //transform: rotateY(10deg);
}

.hoverable {
    transition: 0.3s color;
    color: white;
}

.inline {
    
    display: flex;
    align-items: center;
}

a, a:link, a:visited {
  color: $mainTextColor;
  text-decoration: none;
}

.icon-container {
    margin-left: 8px;
    height: 30px;
    width: 30px;
     flex-shrink: 100;
     background-color: white;
}

.fb-icon {
    //margin-top: 4px;
    height: 100%;
    width: 100%;
   // margin-right: 20px;
    // display: inline;
    // align-content: center;
    flex-shrink: 100;
    
   // border: 2px solid orange;
   // font-family: 'Barlow Condensed', sans-serif;
    
   
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNjdweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDY3IDY3OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNjcgNjciIHdpZHRoPSI2N3B4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMjguNzY1LDUwLjMxOWg2Ljc0NFYzMy45OThoNC40OTlsMC41OTYtNS42MjRoLTUuMDk1ICBsMC4wMDctMi44MTZjMC0xLjQ2NiwwLjE0LTIuMjUzLDIuMjQ0LTIuMjUzaDIuODEyVjE3LjY4aC00LjVjLTUuNDA1LDAtNy4zMDcsMi43MjktNy4zMDcsNy4zMTd2My4zNzdoLTMuMzY5djUuNjI1aDMuMzY5VjUwLjMxOXogICBNMyw0aDYwdjYwSDNWNHoiIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMzQTU4OUI7Ii8+PC9zdmc+');
    background-size: 100% 100%;
}

