@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lobster|Railway');
$mainTextColor: white;
$panelColor: rgba(300,300,300, 0.1);
$someRed: #FF5960;
