@import './partials';

.poll-view {
    @extend .flex-centered-column;
    //flex-grow: 2;
    height: 85%;
    width: 100%;
     //max-width: 96vmin !important;
    margin-top: 8vmin;
    //flex-basis: 70%;
    //border: 1px solid;
   // justify-content: space-between;
}

.options-container {
           flex-basis: 91%;
    
}

  .btn {
   width: 54% !important;
    height: 4vmin !important;
      font-family: 'Lobster', sans-serif;
    font-size: 3vmin;
       padding: 8px 2px 3px 8px;
    text-align: center;
    background-color: #FF5960;
    //border: 4px dashed white;
    border-radius: 9px;
    color: black;
  }
  

.btn:hover {
     border: 4px dashed white;
}

.poll-view-btns {
       flex-direction: column;
    justify-content: space-evenly !important;
    /* padding: 10px 0px 10px 0px; */
    flex-basis: 50%;
}

.btn-social {
    background-color: #4ae092 !important;
}

.btn-submit {
    background-color: $someRed;
}

.option-cell {
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
    stroke-width: 3px;
}

.chosen-sector {
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
}

.flex-item-poll-view-header {
        word-wrap: break-word;
   @extend .flex-item-header;
   font-size: 6vmin;
   text-align: center;
}

.user-option {
     font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vmax;
    text-align: center;
    flex-basis: 35%;
}

.left-line {
    height: 100% !important;
  @extend .flex-centered-column, .flex-item;
 
}

.right-line {
  @extend .flex-centered-column, .flex-item;
  justify-content: center;
  align-items: center;
}

.poll-view-sub-headers {
        word-wrap: break-word;
 @extend .flex-row, .flex-item;
 //flex-direction: column;
   // width: 80%;
    //height: 70%;
   // border: 5px solid;
  justify-content: space-between;
  align-items: space-between;
 // align-content: flex-start;
 flex-grow: 0;
}

.p-1 {
 @extend .flex-item;
 font-family: 'Lobster', cursive;
 color: $someRed !important;
 flex-basis: 20%;
  font-size: 50px;
}

.chart-dummy {
 font-size: 4vmax;   
 text-align: center;
}

.option-name {
 @extend .flex-item;
 font-family: "Barlow Condensed";
 flex-basis: 30%;
 font-size: 4vmax;
 text-align: center;
}


  .last-vote {
      font-size: 2.5vmin;
      text-align: center;
  }
  
  .last-vote-span {
      color: #4eb2fc;
  }

@media screen and (max-width: 850px) {
  
  .user-option {
          border: 2px dashed;
          font-size: 3.5vmax;
    margin-bottom: 15px;
  }
  
  .last-vote {
      font-size: 2.3vmax;
  }
  
  .btn {
        width: 42% !important;
    min-height: 9vmin !important;
        padding: 5px 2px 2px 5px;
  }

  #chart-container {
      //flex-grow: 3;
      height: 30vmax;
  }
  
  .flex-item-poll-view-header {
         // word-wrap: break-word;
      font-size: 6vmax;
      padding: 2vmax 0 0 0;
   //flex-basis: 100%;
   
}
  
  .poll-view {
      flex-grow: 1;
      position: absolute;
          top: -.6vmax;
      width: 100%;
      height: auto;
      overflow: scroll;
      //width: 100%;
      //justify-content: flex-start;
      //flex-direction: column;
  }
  
  .poll-view-btns {
      padding: 3vmax 0 3vmax 0;
      width: 80% !important;
      flex-direction: row;
      
      //background-color: red;
  }
  
  
  .btn-submit, .btn-social {
     
      font-size: 3vmax;
    
     
  }
  
  .btn-submit {
      
  }
  
  .btn-social {
      
  }
  
  
  .poll-view-sub-headers {
      //width: 100%;
     // height: auto;
      //flex-basis: 50%;
      justify-content: center;
      flex-direction: column !important;
      align-items: center;
      font-size: 10px !important;
 //background-color: white;
  }
  
  .left-line {
      order: 1;
      //height: auto;
      //border: 1px solid red;
      //flex-basis: 50%;
  }
  
  .right-line {
      order: 0;
      //height: auto;
      //border: 1px solid green;
      //flex-basis: 50%;
  }
  
  .p-1 {
      padding: 2vmax 0 2vmax 0;
      font-size: 4vmax;
  }
  
  .option-name {
      min-height: 5vmax;;
  }
}